---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3KOZgmHSiX4sM3EwYPtbg", oauth_nonce="6969af7dba67c563e4ddae64f52c7483",
        oauth_signature="fraZ9d2QVeHTPkr7LT7BMp3bRSc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1395635338", oauth_token="715073-utqV01U7Cdv6f4fBXCSDJsCadrWStpxAqXfssS8Pgz3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Mar 2014 04:28:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1395636238'
      X-Transaction:
      - 2e6de3d2c0279c5d
    body:
      encoding: UTF-8
      string: "{\"id\":715073,\"id_str\":\"715073\",\"name\":\"Alpha Chen\",\"screen_name\":\"kejadlen\",\"location\":\"\",\"description\":\"\",\"url\":\"http:\\/\\/t.co\\/Vf9ujUJlQn\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/Vf9ujUJlQn\",\"expanded_url\":\"http:\\/\\/blog.kejadlen.net\\/\",\"display_url\":\"blog.kejadlen.net\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":446,\"friends_count\":421,\"listed_count\":17,\"created_at\":\"Sat
        Jan 27 18:58:23 +0000 2007\",\"favourites_count\":207,\"utc_offset\":-25200,\"time_zone\":\"Pacific
        Time (US & Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":16722,\"lang\":\"en\",\"status\":{\"created_at\":\"Mon
        Mar 24 00:49:15 +0000 2014\",\"id\":447897900773683201,\"id_str\":\"447897900773683201\",\"text\":\"RT
        @edyong209: Google Flu has been a spectacular failure. When it comes to Big
        Data, you can't polish a turd. http:\\/\\/t.co\\/hjpHwJqwyz HT @ph\\u2026\",\"source\":\"\\u003ca
        href=\\\"http:\\/\\/www.osfoora.com\\/mac\\\" rel=\\\"nofollow\\\"\\u003eOsfoora
        for Mac\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Sun
        Mar 23 16:37:53 +0000 2014\",\"id\":447774241254297600,\"id_str\":\"447774241254297600\",\"text\":\"Google
        Flu has been a spectacular failure. When it comes to Big Data, you can't polish
        a turd. http:\\/\\/t.co\\/hjpHwJqwyz HT @phylogenomics\",\"source\":\"web\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":73,\"favorite_count\":48,\"entities\":{\"hashtags\":[],\"symbols\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/hjpHwJqwyz\",\"expanded_url\":\"http:\\/\\/genome.fieldofscience.com\\/2014\\/03\\/why-google-flu-is-failure-hubris-of-big.html?spref=tw\",\"display_url\":\"genome.fieldofscience.com\\/2014\\/03\\/why-go\\u2026\",\"indices\":[95,117]}],\"user_mentions\":[{\"screen_name\":\"phylogenomics\",\"name\":\"Jonathan
        Eisen\",\"id\":15154811,\"id_str\":\"15154811\",\"indices\":[121,135]}]},\"favorited\":false,\"retweeted\":true,\"possibly_sensitive\":false,\"lang\":\"en\"},\"retweet_count\":73,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/hjpHwJqwyz\",\"expanded_url\":\"http:\\/\\/genome.fieldofscience.com\\/2014\\/03\\/why-google-flu-is-failure-hubris-of-big.html?spref=tw\",\"display_url\":\"genome.fieldofscience.com\\/2014\\/03\\/why-go\\u2026\",\"indices\":[110,132]}],\"user_mentions\":[{\"screen_name\":\"edyong209\",\"name\":\"Ed
        Yong \",\"id\":19767193,\"id_str\":\"19767193\",\"indices\":[3,13]},{\"screen_name\":\"phylogenomics\",\"name\":\"Jonathan
        Eisen\",\"id\":15154811,\"id_str\":\"15154811\",\"indices\":[136,140]}]},\"favorited\":false,\"retweeted\":true,\"possibly_sensitive\":false,\"lang\":\"en\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"352726\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme5\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme5\\/bg.gif\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/1822967606\\/sheep_normal.png\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/1822967606\\/sheep_normal.png\",\"profile_link_color\":\"D02B55\",\"profile_sidebar_border_color\":\"829D5E\",\"profile_sidebar_fill_color\":\"99CC33\",\"profile_text_color\":\"3E4415\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"
  recorded_at: Mon, 24 Mar 2014 04:28:58 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?user_id=715073
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3KOZgmHSiX4sM3EwYPtbg", oauth_nonce="d469d16863918d2cba2cf25e5d7f1345",
        oauth_signature="70Hx8WhO3NZVpaz%2BRIvh2X2Z2UI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1395635413", oauth_token="715073-utqV01U7Cdv6f4fBXCSDJsCadrWStpxAqXfssS8Pgz3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Mar 2014 04:30:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1395636313'
      X-Transaction:
      - ae93095435630fc2
    body:
      encoding: UTF-8
      string: "{\"ids\":[1569839659,2396724386,609602865,2356763192,2339397540,15212317,51119588,1874122668,14338572,2341106586,1687306902,40603,1227011947,138753057,1024516946,917704051,286537964,15044050,308270371,16440882,16472748,783680210,911228826,16018306,1526228120,133486420,13205432,462323976,46852648,75942399,235516647,7669762,281336977,26356464,132685491,86328927,41343046,792386382,17397582,16997374,1158286466,22872728,263836119,8526432,9070452,14271974,1371254156,198661893,103086746,15067554,35954885,209416[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?user_id=1569839659,2396724386,609602865,2356763192,2339397540,15212317,51119588,1874122668,14338572,2341106586,1687306902,40603,1227011947,138753057,1024516946,917704051,286537964,15044050,308270371,16440882,16472748,783680210,911228826,16018306,1526228120,133486420,13205432,462323976,46852648,75942399,235516647,7669762,281336977,26356464,132685491,86328927,41343046,792386382,17397582,16997374,1158286466,22872728,2[...]
[...]
